herebody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    margin: 1em;
    text-align: center;
}

.product img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.buy-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 1em;
    text-align: center;
}

.icon {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
}
